In [46]:
import pandas as pd
from datetime import *

In [47]:
df1 = pd.read_csv("C:/citibike/JC-201912-citibike-tripdata.csv")
df2 = pd.read_csv("C:/citibike/JC-202001-citibike-tripdata.csv")
df3 = pd.read_csv("C:/citibike/JC-202002-citibike-tripdata.csv")
df4 = pd.read_csv("C:/citibike/JC-202003-citibike-tripdata.csv")
df5 = pd.read_csv("C:/citibike/JC-202004-citibike-tripdata.csv")
df6 = pd.read_csv("C:/citibike/JC-202005-citibike-tripdata.csv")
df7 = pd.read_csv("C:/citibike/JC-202006-citibike-tripdata.csv")
df8 = pd.read_csv("C:/citibike/JC-202007-citibike-tripdata.csv")
df9 = pd.read_csv("C:/citibike/JC-202008-citibike-tripdata.csv")

In [48]:
df_all = [df1, df2, df3, df4, df5, df6, df7, df8, df9]

In [49]:
for i in range(len(df_all)):
    df_all[i]['start_time_date'] = pd.to_datetime(df_all[i]['starttime']).dt.date
    df_all[i]['start_time'] = pd.to_datetime(df_all[i]['starttime']).dt.time
    df_all[i]['stop_time_date'] = pd.to_datetime(df_all[i]['stoptime']).dt.date
    df_all[i]['stop_time'] = pd.to_datetime(df_all[i]['stoptime']).dt.time

In [50]:
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time_date,start_time,stop_time_date,stop_time
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1,2019-12-01,00:07:13.936000,2019-12-01,00:33:07.682000
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1,2019-12-01,00:16:40.470000,2019-12-01,00:23:36.570000
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1,2019-12-01,00:20:29.798000,2019-12-01,00:25:23.969000
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1,2019-12-01,00:21:13.758000,2019-12-01,00:22:51.597000
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1,2019-12-01,00:29:58.023000,2019-12-01,00:34:44.228000

In [51]:
df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time_date,start_time,stop_time_date,stop_time
0,122,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1,2020-06-01,00:02:21.750000,2020-06-01,00:04:24.325000
1,1282,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1,2020-06-01,00:12:27.109000,2020-06-01,00:33:50.054000
2,186,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1,2020-06-01,01:19:59.209000,2020-06-01,01:23:05.893000
3,131,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1,2020-06-01,01:26:42.205000,2020-06-01,01:28:53.804000
4,266,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2,2020-06-01,01:27:33.709000,2020-06-01,01:32:00.189000

In [52]:
new_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9])
print(new_df)

       tripduration                 starttime                  stoptime  \
0              1553  2019-12-01 00:07:13.9360  2019-12-01 00:33:07.6820
1               416  2019-12-01 00:16:40.4700  2019-12-01 00:23:36.5700
2               294  2019-12-01 00:20:29.7980  2019-12-01 00:25:23.9690
3                97  2019-12-01 00:21:13.7580  2019-12-01 00:22:51.5970
4               286  2019-12-01 00:29:58.0230  2019-12-01 00:34:44.2280
...             ...                       ...                       ...
43262           162  2020-08-31 23:43:15.8540  2020-08-31 23:45:58.4550
43263           400  2020-08-31 23:46:19.9130  2020-08-31 23:53:00.3610
43264           288  2020-08-31 23:47:16.8680  2020-08-31 23:52:05.5550
43265           199  2020-08-31 23:50:37.2650  2020-08-31 23:53:56.9490
43266           333  2020-08-31 23:55:30.8050  2020-09-01 00:01:04.4110

       start station id start station name  start station latitude  \
0                  3681           Grand St               40.715178
1                  3195            Sip Ave               40.730897
2                  3195            Sip Ave               40.730897
3                  3202       Newport PATH               40.727224
4                  3195            Sip Ave               40.730897
...                 ...                ...                     ...
43262              3186      Grove St PATH               40.719586
43263              3481            York St               40.716490
43264              3195            Sip Ave               40.730897
43265              3195            Sip Ave               40.730897
43266              3211         Newark Ave               40.721525

       start station longitude  end station id  end station name  \
0                   -74.037683            3198  Heights Elevator
1                   -74.063913            3679        Bergen Ave
2                   -74.063913            3678     Fairmount Ave
3                   -74.033759            3638     Washington St
4                   -74.063913            3679        Bergen Ave
...                        ...             ...               ...
43262               -74.043117            3279       Dixon Mills
43263               -74.041050            3187         Warren St
43264               -74.063913            3194   McGinley Square
43265               -74.063913            3194   McGinley Square
43266               -74.046305            3270   Jersey & 6th St

       end station latitude  end station longitude  bikeid    usertype  \
0                 40.748716             -74.040443   29462  Subscriber
1                 40.722104             -74.071455   29610  Subscriber
2                 40.725726             -74.071959   26166  Subscriber
3                 40.724294             -74.035483   29492  Subscriber
4                 40.722104             -74.071455   29440    Customer
...                     ...                    ...     ...         ...
43262             40.721630             -74.049968   44787  Subscriber
43263             40.721124             -74.038051   19153  Subscriber
43264             40.725340             -74.067622   42434  Subscriber
43265             40.725340             -74.067622   44226  Subscriber
43266             40.725289             -74.045572   42437  Subscriber

       birth year  gender start_time_date       start_time stop_time_date  \
0            1980       1      2019-12-01  00:07:13.936000     2019-12-01
1            1956       1      2019-12-01  00:16:40.470000     2019-12-01
2            1977       1      2019-12-01  00:20:29.798000     2019-12-01
3            1993       1      2019-12-01  00:21:13.758000     2019-12-01
4            1990       1      2019-12-01  00:29:58.023000     2019-12-01
...           ...     ...             ...              ...            ...
43262        1977       1      2020-08-31  23:43:15.854000     2020-08-31
43263        1986       1      2020-08-31  23:46:19.913000     2020-08-31
43264        1960       1      2020-08-31  23:47:16.868000     2020-08-31
43265        1994       1      2020-08-31  23:50:37.265000     2020-08-31
43266        1984       2      2020-08-31  23:55:30.805000     2020-09-01

             stop_time
0      00:33:07.682000
1      00:23:36.570000
2      00:25:23.969000
3      00:22:51.597000
4      00:34:44.228000
...                ...
43262  23:45:58.455000
43263  23:53:00.361000
43264  23:52:05.555000
43265  23:53:56.949000
43266  00:01:04.411000

[239642 rows x 19 columns]

In [40]:
df1 =  df1.to_csv('C:/citibike/dec 2019.csv', encoding='utf-8', index=False)
df2 =  df2.to_csv('C:/citibike/jan 2020.csv', encoding='utf-8', index=False)
df3 =  df3.to_csv('C:/citibike/feb 2020.csv', encoding='utf-8', index=False)
df4 =  df4.to_csv('C:/citibike/mar 2020.csv', encoding='utf-8', index=False)
df5 =  df5.to_csv('C:/citibike/apr 2020.csv', encoding='utf-8', index=False)
df6 =  df6.to_csv('C:/citibike/may 2020.csv', encoding='utf-8', index=False)
df7 =  df7.to_csv('C:/citibike/jun 2020.csv', encoding='utf-8', index=False)
df8 =  df8.to_csv('C:/citibike/jul 2020.csv', encoding='utf-8', index=False)
df9 =  df9.to_csv('C:/citibike/aug 2020.csv', encoding='utf-8', index=False)

In [53]:
print(new_df)

       tripduration                 starttime                  stoptime  \
0              1553  2019-12-01 00:07:13.9360  2019-12-01 00:33:07.6820
1               416  2019-12-01 00:16:40.4700  2019-12-01 00:23:36.5700
2               294  2019-12-01 00:20:29.7980  2019-12-01 00:25:23.9690
3                97  2019-12-01 00:21:13.7580  2019-12-01 00:22:51.5970
4               286  2019-12-01 00:29:58.0230  2019-12-01 00:34:44.2280
...             ...                       ...                       ...
43262           162  2020-08-31 23:43:15.8540  2020-08-31 23:45:58.4550
43263           400  2020-08-31 23:46:19.9130  2020-08-31 23:53:00.3610
43264           288  2020-08-31 23:47:16.8680  2020-08-31 23:52:05.5550
43265           199  2020-08-31 23:50:37.2650  2020-08-31 23:53:56.9490
43266           333  2020-08-31 23:55:30.8050  2020-09-01 00:01:04.4110

       start station id start station name  start station latitude  \
0                  3681           Grand St               40.715178
1                  3195            Sip Ave               40.730897
2                  3195            Sip Ave               40.730897
3                  3202       Newport PATH               40.727224
4                  3195            Sip Ave               40.730897
...                 ...                ...                     ...
43262              3186      Grove St PATH               40.719586
43263              3481            York St               40.716490
43264              3195            Sip Ave               40.730897
43265              3195            Sip Ave               40.730897
43266              3211         Newark Ave               40.721525

       start station longitude  end station id  end station name  \
0                   -74.037683            3198  Heights Elevator
1                   -74.063913            3679        Bergen Ave
2                   -74.063913            3678     Fairmount Ave
3                   -74.033759            3638     Washington St
4                   -74.063913            3679        Bergen Ave
...                        ...             ...               ...
43262               -74.043117            3279       Dixon Mills
43263               -74.041050            3187         Warren St
43264               -74.063913            3194   McGinley Square
43265               -74.063913            3194   McGinley Square
43266               -74.046305            3270   Jersey & 6th St

       end station latitude  end station longitude  bikeid    usertype  \
0                 40.748716             -74.040443   29462  Subscriber
1                 40.722104             -74.071455   29610  Subscriber
2                 40.725726             -74.071959   26166  Subscriber
3                 40.724294             -74.035483   29492  Subscriber
4                 40.722104             -74.071455   29440    Customer
...                     ...                    ...     ...         ...
43262             40.721630             -74.049968   44787  Subscriber
43263             40.721124             -74.038051   19153  Subscriber
43264             40.725340             -74.067622   42434  Subscriber
43265             40.725340             -74.067622   44226  Subscriber
43266             40.725289             -74.045572   42437  Subscriber

       birth year  gender start_time_date       start_time stop_time_date  \
0            1980       1      2019-12-01  00:07:13.936000     2019-12-01
1            1956       1      2019-12-01  00:16:40.470000     2019-12-01
2            1977       1      2019-12-01  00:20:29.798000     2019-12-01
3            1993       1      2019-12-01  00:21:13.758000     2019-12-01
4            1990       1      2019-12-01  00:29:58.023000     2019-12-01
...           ...     ...             ...              ...            ...
43262        1977       1      2020-08-31  23:43:15.854000     2020-08-31
43263        1986       1      2020-08-31  23:46:19.913000     2020-08-31
43264        1960       1      2020-08-31  23:47:16.868000     2020-08-31
43265        1994       1      2020-08-31  23:50:37.265000     2020-08-31
43266        1984       2      2020-08-31  23:55:30.805000     2020-09-01

             stop_time
0      00:33:07.682000
1      00:23:36.570000
2      00:25:23.969000
3      00:22:51.597000
4      00:34:44.228000
...                ...
43262  23:45:58.455000
43263  23:53:00.361000
43264  23:52:05.555000
43265  23:53:56.949000
43266  00:01:04.411000

[239642 rows x 19 columns]

In [54]:
new_df['gender'].replace([0,1,2],['unknown','Male','Female'],inplace=True)

In [55]:
new_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time_date,start_time,stop_time_date,stop_time
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,Male,2019-12-01,00:07:13.936000,2019-12-01,00:33:07.682000
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,Male,2019-12-01,00:16:40.470000,2019-12-01,00:23:36.570000
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,Male,2019-12-01,00:20:29.798000,2019-12-01,00:25:23.969000
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,Male,2019-12-01,00:21:13.758000,2019-12-01,00:22:51.597000
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,Male,2019-12-01,00:29:58.023000,2019-12-01,00:34:44.228000

In [56]:
new_df = new_df.to_csv('C:/citibike/dec 2019-Augs 2020.csv', encoding='utf-8', index=False)